@import url(https://fonts.googleapis.com/css?family=Mochiy+Pop+One);
@import url(https://fonts.googleapis.com/css?family=Boogaloo);



*{
    justify-content: center;
}

h1,h2, h3,h4{
    font-family: 'Mochiy Pop One';
}

p{
    font-family: 'Boogaloo';
}

html{
    background-image: url('/home/davuld86/Development/code/phase-4/bun-byte-arcade/client/public/images/bg.jpg');

}

img{
   filter: drop-shadow(30,30,black)
}
