.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(149 102 240);

}

.searchBar input{
    width: 300px;
    height:30px;
    font-size: 20px;
    text-align:center;
    border-radius:50px;
}
.searchBar{
    padding-right: 10px;
}

form button{
    padding: 5px;

}

.user{
    background-color: rgb(240, 105, 255);
    border-radius: 15%;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.user-menu{
    background-color: rgb(209, 149, 215);
    justify-content: center;
    justify-items: center;
    z-index: 8;
}

.user a{
    text-decoration: none;
    font-size: large;
}
.user-menu a{
    text-decoration: none;
}

.banner img{
    filter: drop-shadow(2px 4px 6px black);
 }
