.battle-character{
    position: absolute;
    max-width: 350px;
    max-height: 350px;
}
.battle-character img{
    position: inherit;
    max-width: inherit;
    max-height: inherit;
    z-index: 0;
    transition: left 0.2s ease 0s;
}

.battle-enemy{
    position: absolute;
    max-width: 400px;
    max-height: 400px;
    left: 650px;
    top: 235px;
    transition: left 0.2s ease 0s;
}
.battle-enemy img{
    position:inherit;
    max-width: inherit;
    max-height: inherit;
    transition: left 0.2s ease 0s;
}

.battle-screen{
    border: 10px solid black;
    position: fixed;
    top: 5%;
    left: 15%;
    width: 1080px;
    height: 720px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9;
}

.battleInfo{
    background-color:rgb(31, 88, 138) ;
    padding: 10px;
}

.turn{
    display: grid;
    justify-content: center;
    font-size: xx-large;
    color: white;
}

.logs{
    display: grid;
    justify-content: center;
    font-size: 25px;
    color: white;
}
.moves{
    display: flex;
    position: absolute;
    top: 375px;
    left: 25px;
}

.move{
    display: grid;
    text-align: center;
    border: 3px solid black;
    background-color: white;
    width: 100px;
    height: 85px;
    margin: 5px;
    border-radius: 10px;
    transition-duration: 50ms;
    justify-items: center;
    align-items: start;

}
.move img{
    width: 20px;
    height: 20px;
}
.move h4{
    margin-top: 1%;
    margin-bottom: -20%;
}

.move:hover{
    background-color: rgb(87, 176, 255);
    color: white;
    border: 3px solid white;
}

.playerStats{
    display: flex;
    flex-direction: column;
    width: 250px;
    background: aliceblue;
    padding: 10px;
    border-radius: 5%;
}

.playerStats h3{
    margin-bottom: 0px;
}
.playerStats h2{
    margin-bottom: 0px;
    margin-top: 0px;
    align-self: center;
}

.enemyStats{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 250px;
    background: aliceblue;
    padding: 10px;
    border-radius: 5%;
}
.enemyStats h2{
    margin-top: 0%;
    margin-bottom: 5%;
}

.batItem{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width:120px;
    height: max-content;
    background: rgba(240, 248, 255, 0.897);
    padding: 2%;
    margin:5%;
    border: 4px solid rgb(115, 115, 165);
    transition-duration: 50ms;
    border-radius: 15%;
    z-index: 2;
}
.batItem img{
    position: inherit;
}

.batItem:hover{
    background-color: rgba(13, 94, 165, 0.897);
    color: white
}

.battleHeader{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.victory{
    position: absolute;
    background-color: rgba(2, 18, 32, 0.801);
    width: 1080px;
    height: 630px;
    z-index: 5;
    color: white;
    top: 32px;
    border-top: 10px solid rgb(255, 229, 79);
    border-bottom: 10px solid rgb(255, 230, 91);

}

.defeat{
    position: absolute;
    display: grid;
    background-color: rgba(2, 18, 32, 0.801);
    width: 1080px;
    height: 630px;
    z-index: 5;
    color: white;
    top: 32px;
    border-top: 10px solid rgb(102, 7, 7);
    border-bottom: 10px solid rgb(102, 7, 7);
    justify-items: center;
    align-content: center;

}

.runButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
}
