.category-link a{
    display: flex;
    text-decoration: none;
    color:white;
    font-size: 20px;
}
.category-link a :hover{
    background-color: aqua;
}

.category-container{
    display: grid;
    grid-template-columns: repeat(5,auto);
    column-gap: 2em;
}

.all-categories{
    background-color: darkslateblue;
}
