.negative{
    color:red;
}

.positive{
    color: green;
}

.stat{
    display: flex;
    justify-content: space-evenly;
}

.edit-character-page{
    display:flex;
    justify-items: center;
    justify-content: space-evenly;
    background-color: aliceblue;
}

.job-description{
    display: grid;
    align-items: center;
    align-content: flex-start;
    justify-items: center;
}

.job-description p{
    font-size: larger;
    width: 500px;
}

.submit{
    position: relative;
    left: 50%;
    width: auto;
    height: 50px;
    font-size: large;
}
