.game-canvas {
    border:5px solid black;
  }

  .character {
    transition: top 0.3s, left 0.3s;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-height: 100px;
    max-width: 90px;
    border: none;


}
.char-img{
    max-width: 90px;
    max-height: 90px;
    z-index: 2;
}

.shadow{
    border:none;
    margin: -10px;
    max-width: 90px;
    opacity: 20%;
    z-index: 1;
}

.enemy{
    display: flex;
    flex-direction: column;
    align-items: center;

    border: none;
}

.enemy img{
    max-width: inherit;
    max-height: inherit;
    z-index: 2;
}
.enemy-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    border: 2px solid black;
    border-radius: 5px;
}

.message-box{
z-index: 6;
background-color: green;
padding: 5px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
padding-left: 15px;
padding-right: 15px;
margin-bottom: -1px;
}

.message-box input{
    width: 300px;
}

.charUsername{
    margin-bottom: -1px;
}

.textBubble{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 15%;
    max-width: 300px;
    min-width: 70px;
    width:max-content;
    height: max-content;

    margin-bottom: -10px;
    background-color: white;

}

.textBubble p {
    padding: 5%;
    word-wrap: break-word;
}

