.game-page{
    background-color: rgba(29, 153, 187, 0.658);
}
.game-elements{
    display: grid;
    background-color: #fa42f8;
    justify-items: center;
    width: 1100px;
}

.game-elements iframe{
    aspect-ratio: 16 / 9;
    min-width: 1024px;
    min-height: 576px;
    max-width: max-content;
    max-height: max-content;
	height: 100%;
	width: 100%;


}

.game-attributes{
    display: flex;
    justify-content: space-evenly;
    min-width: -webkit-fill-available;
    font-size: larger;
}

.developer{
    display: inherit;
    background-color: #416ef1;
    width: fit-content;
    padding: 1%;
    border-radius: 6%;
    row-gap: 0;
    margin-top: 1%;
}
.review-container{
    background-color: mintcream;
    display: inherit;
    min-width: 500px;
    max-width: fit-content;
    justify-self: center;

}

.review-no-user h3{
    color: aliceblue;
}
.review-no-user{
    display: inherit;
}
.review{
    background-color: blanchedalmond;
    display: flex;
    max-width: fit-content;
    padding: 1%;
}

.review p{
    font-size: larger;
}
