.game-card{
    display: grid;
    justify-content: center;
    justify-items: center;
    background-color: rgb(240, 184, 238);
    border-radius: 10%;
    border-width: 10px;
}

.game-card p{
    background-color: rgb(169, 129, 206);
    max-height: fit-content;
    max-height: auto;
}
.game-card img{
    max-width: auto;
    max-height: 100px;
}

.game-card h4{
    font-size: large;
}


