.navbar{
    background-color: hotpink;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    align-content: stretch;
}

.navbar ul{
    display: flex;
    justify-content: space-evenly;

}
.navbar a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    color: aliceblue;
    stroke: black;
    stroke-width: 5px;
    padding:10px;
    text-decoration: none;
}

.navbar ul :hover{
    background-color: darkmagenta;

}

.navbar a :hover{
    color:aqua
}
