.sort-page button{
    height: 50px;
    border-radius: 5%;
    background-color: rgb(237, 46, 196);
    justify-self: right;
}

.sort-page span button :hover{
    background-color: darkorchid;
}

.sort-page span{
    display: flex;
    justify-content: space-around;
    background-color: rgb(148, 40, 255);
}
.sort-page h2{
    color: antiquewhite;
    font-size: x-large;

}
